

input[type=text]{
    width: 20%;
    box-sizing: border-box;
    
}

body{
 text-align: center;
 background-image: url(../image/Calories.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 margin: 0;
 }

 #login{
     margin:10%;
     margin-left: 35%;
     background-color:#ffffff;
     min-height: 30%;
     padding-top:5%;
     padding-bottom: 5%;
     width: 30%;
     vertical-align: middle; 

 }

 #username input{
     width: 65%;
     background-color:#f8f8f8;
     padding-top:2% ;
     padding-bottom: 2%;
     padding-left: 1%;
     border: 0;
 }

 #checkbox{
padding-right: 40%;
 }

 #loginbutton button
 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    width: 65%;
 }

 #loginbutton button:hover{
     background-color: #cc2020;
}

footer{
  height:10%;
  background-color:#64666d;
  padding-bottom: 1%;
}
/* ----- AICI AVEM FOOTERUL ------ */
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
footer ul li{
    padding-left: 2%;
    float: left;
}
footer img{
    padding-top:6%;
}
#image{
    padding-top: 5%;
    margin-left: 10%;
}
li p{
    padding-top: 3%;
    padding-left: 10px;
}
