body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;   
    margin: 0;
    padding: 0;
    background: #2f313d;
}

header{
    background: gray;
    color: #ffffff;
    height: 140px;
}
img{
    width: 100%;
    height: 140px;
}
.mybar{
    overflow: hidden;
    background-color: brown;
    padding-left: 15%;
    min-height: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
.mybar a{
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 4px;
    margin-right: 4px;
    color: aliceblue;
}
.mybar a:hover{
    background-color: aqua;
    color: black;
}
.mybar a.active{
    background-color: greenyellow;
    color: brown;
}
h2 {
    color: #46485c;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    }
.form {
    width: 380px;
    position: relative;
    margin:50px auto;
    background: rgba(0,0,0,0.2);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
    }

input[type="text"]{
width: 32%;
padding: 25px 0px;
background: transparent;
border: 0;
border-bottom: 1px solid rgba(255,255,255,0.04);
outline: none;
color: #46485c;
}
input[name="RecipeName"]{
    width: 100%;
    text-align: center;
}
input[type="submit"] {
    margin-top:10px;
    background: #b5cd60;
    border: 0;
    width: 50%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-left:25%;
    }
td input[value="delete"],td input[value="Add Ingredient"]{
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 100%;
    margin:0;
    cursor: pointer;
}
td input[type="text"]{
    margin:0;
    padding: 0;
    width: 100%;
    text-align: center;
}
input[type="submit"]:hover {
    background: #16aa56;
    }

.ingredients{
    color: #46485c;
}
table{
    width:100%;
    border: 2px solid black;
    margin-top:10px;
}
td,th{
    height: 50px;
    width:25%;
    text-align: center;
    border:1px solid black;
}
p{
    width:100%;
    text-align: right;
}