body{
    background-color:#cc2020;
    padding: 0;
    margin: 0;
}
.register{
    width: 35%;
    vertical-align: middle; 
    margin-top: 5%;
    margin-left:30%;
    background-color: wheat;
    padding-bottom: 5%;
    padding-top:5%;

} 
#inputContent{
    margin-left:10%;
}
h1{
    margin-left:30%;
}
#inputContent input{
    width: 75%;
    background-color:#f8f8f8;
    padding-top:2% ;
    padding-bottom: 2%;
    padding-left: 1%;
    border: 0;

}
#registerBtn button{
    border:none;
    padding-top: 3%;
    padding-left: 2%;
    padding-bottom: 3%;
    padding-right: 2%;
    background-color: #4CAF50;
    width: 68%;
    font-size: 15px;
    display: inline-block;
    margin-left:10%;

}
input{
    width: 70%;
    background-color:#f8f8f8;
    padding-top:3% ;
    padding-bottom: 2%;
    padding-left: 1%;
    border: 1;
}

/* ----- AICI AVEM FOOTERUL ------ */
footer{
  height:10%;
  background-color:#64666d;
  padding-bottom: 1%;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
footer ul li{
    padding-left: 2%;
    float: left;
}
footer img{
    padding-top:6%;
}
#image{
    padding-top: 5%;
    margin-left: 10%;
}
li p{
    padding-top: 3%;
    padding-left: 10px;
}
  