body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;   
    margin: 0;
    padding: 0;
    background: #2f313d;
}
header{
    background: gray;
    color: #ffffff;
    height: 140px;
}

header h1{
    font-family: "Apple Chancery", cursive;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

img{
    width: 100%;
    height: 140px;
}

.mybar{
    overflow: hidden;
    background-color: brown;
    padding-left: 15%;
    min-height: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.mybar a{
    float: left;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 4px;
    margin-right: 4px;
    color: aliceblue;
    margin-bottom: 2px;
}
.mybar a:hover{
    background-color: aqua;
    color: black;
}
.mybar a.active{
    background-color: greenyellow;
    color: brown;
}

.calculator {
    width: 600px ;    
    position: absolute;
    top: 60%;
    left: 40%;
    margin: -184px 0px 0px -155px;
    background: rgba(0,0,0,0.2);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}

h2 {
    color: #46485c;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

input[type="text"]{
    width: 600px;       
    padding: 25px 0px;        
    background: transparent;        
    border: 0;        
    border-bottom: 1px solid rgba(255,255,255,0.04);        
    outline: none;        
    color: #46485c;        
    text-align: center;
} 

.ingredient p{
    /* width: 80px; */
    float: left;
    color: #46485c;
    text-align: center;   
}



input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 60px;
    height: 20px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 15px;
    margin-left:15px;
    margin-bottom: 15px;
}

.addingredient input[type="submit"]{
    background: #b5cd60;
    border: 0;
    width: 140px;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-left: 60px;
    
}

.addingredient{
   float: left;
}

.ingredient1{
    float: left;
}

.calories {
    width: 70px;
    color:#46485c;
    margin:0;
    padding:0;
    border:0;
    
}

.ingredient i{
    font-style: normal;
    color: #46485c;
    margin-left: 15px;
}
.ingredient1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}
.ingredient1 ul li{
    float: left;
}

.ingredient1 i{
    font-style: normal;
    color: #46485c;
    margin-left: 15px;
}